*.class
*~
.*.swp
.*.swo
.loadpath
.mymetadata
.myumldata
.buildpath
.project
.settings
.classpath
.idea
*.iml
*.ipr
*.iws
nbproject
.DS_Store
target
test-output
nbactions.xml
CVS
bin
.history
/lib
.cache
.dos_cmds
.target/
~
META-INF/
hs_err_pid4896.log
application.properties
application-test.properties
.myumldata
default.properties